---
import { getCollection } from "astro:content";
import Layout from "./Layout.astro";

const blogCollection = (await getCollection("blog")).sort((a, b) => {
  return b.data.publishedAt.getTime() - a.data.publishedAt.getTime();
});

const schema = {
  "@context": "http://schema.org",
  "@type": "WebSite",
  id: "https://www.costas.dev/",
  url: "https://www.costas.dev/",
  headline: "Ariel Costas - Desarrollador web",
};
---

<Layout title="Inicio" description="Página de inicio de mi web">
  <script
    is:inline
    type="application/ld+json"
    slot="head-jsonld"
    set:html={JSON.stringify(schema)}
  />

  <h1>Inicio</h1>
  <p>
    Te doy la bienvenida a mi web. Me llamo Ariel, y aquí encontrarás
    información sobre mí y mis proyectos.
  </p>

  <h2>¿Quién soy?</h2>

  <p>
    Soy un desarrollador de software con varios años de experiencia en el sector,
    especializado en el desarrollo de aplicaciones web y la administración de
    sistemas Cloud. Me apasiona la tecnología y disfruto creando soluciones
    prácticas y eficientes para resolver problemas reales, simplificando la vida
    y el trabajo de las personas.
  </p>

  <p>
    En mi tiempo libre, fuera de mi trabajo, me interesan temas como la filosofía,
    la economía y las finanzas, así como el derecho y la política. Me gusta
    aprender sobre cómo funcionan las cosas y cómo se relacionan entre sí, y
    reflexionar sobre el impacto que tienen en nuestra sociedad y en nuestras
    vidas cotidianas.
  </p>

  <h2>¿Qué hago?</h2>

  <p>
    Actualmente trabajo como desarrollador de software y administrador Cloud en
    Estelaria Solutions, una empresa de tecnología en Vigo (España). Me encargo
    de desarrollar aplicaciones web en PHP y desplegarlas en la nube de forma
    segura y eficiente.
  </p>

  <a href="/trajectory">Conoce más sobre mi trayectoria profesional</a>

  <p>
    También realizo ocasinalmente proyectos personales y freelance para clientes
    que necesitan soluciones a medida o apoyo técnico en sus proyectos. Me
    gusta trabajar con tecnologías modernas y aprender nuevas habilidades para
    mejorar mi trabajo y ofrecer un mejor servicio a mis clientes.
  </p>
  <a href="/portfolio">Echa un vistazo a mi portfolio</a>

  <h2>Mis reflexiones</h2>
  <p>
    En mi blog comparto mis reflexiones, aprendizajes y experiencias sobre
    los temas que me interesan, además de hablar ocasionalmente sobre tecnología
    y desarrollo. Disfruto escribiendo sobre lo que aprendo y reflexiono, pudiendo
    plasmar mis ideas de forma clara y ordenada, y compartiéndolas con el mundo.
  </p>
  <ul>
    {
      blogCollection.slice(0, 5).map((p) => {
        const date = Intl.DateTimeFormat(Astro.currentLocale, {
          day: "2-digit",
          month: "short",
          year: "numeric",
        }).format(p.data.publishedAt);
        return (
          <li>
            <time datetime={p.data.publishedAt.toISOString()}>{date}</time>
            <a href={`/blog/${p.id}`}>{p.data.title}</a>
          </li>
        );
      })
    }
  </ul>
  <a href="/blog">Ver todas las entradas</a>
</Layout>
